<div class="div1">
  <ul class="ul1">
    <li id="li1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a routerLink="Home">Home</a></li>
    <li id="li1" [routerLinkActive]="'active'" ><a routerLink="Women">Women</a></li>
    <li id="li1" [routerLinkActive]="'active'" ><a routerLink="Men">Men</a></li>
    <li id="li1" [routerLinkActive]="'active'" class="logo" [class.active]="isActive('Bag')">
      <a routerLink="Bag">
        <img src="assets/logo/cart-512.webp" alt="Logo" class="logo-img">
        <span class="cart-count" *ngIf="cartItemsCount > 0">{{ cartItemsCount }}</span>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>